---
layout: home
background: "/img/road.jpg"
---

<h3>Who are we?</h3>
<p>
  Freedom by Design Inc. is an emerging organisation that is passionate about
  inclusive living. We step away from a welfare mindset and build partnerships
  with community groups and organisations, social enterprises, businesses and
  corporations to help us build a sustainable community organisation.
</p>
<p>
  We are proudly open, honest and transparent in our business and service
  provision. We do not do things just because we need to be compliant with
  disability standards. We do things because we believe in them.
</p>
<p>For more information, see our <a href="about.html">about page.</a></p>
<h3>Who is Beth?</h3>
<p>Find out <a href="beth.html">here!</a></p>
